{% extends 'base.html.twig' %}

{% block body %}
    <base href="/public">
    {% include 'components/header.html.twig' %}

    <main class="main">

        <div class="page-title">
            <nav class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li><a href="{{ path('app_home') }}">Мої курси</a></li>
                        <li class="current"><a>Оцiнки</a></li>
                    </ol>
                </div>
            </nav>
        </div>

        <div class="container mt-3">
            <div class="tab-pane">
                <div class="card p-3 border">
                    <h4><b>Курси, де я навчаюся</b></h4>
                    <div class="table-responsive">
                        <table class="table" style="border-radius: 8px; overflow: hidden; max-width: 800px; margin: 0 auto;">
                            <thead class="table-light">
                                <tr>
                                    <th>Назва курсу</th>
                                    <th class="text-center" style="width: 100px;">Оцiнка</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for grade in grades %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('grades_course', { courseId: grade.course.id }) }}">
                                                {{ grade.course.courseName }}
                                            </a>
                                        </td>
                                        <td class="text-center">{{ grade.finalGrade|number_format(2, '.', '') }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2" class="text-center">Вас не додано до жодної дисципліни</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% include 'components/footer.html.twig' %}
{% endblock %}
