{% extends 'base.html.twig' %}

{% block body %}
    <footer id="footer" class="footer position-relative light-background">
        <div class="container copyright text-center mt-4">
            <p>
                <span>Designed by</span> <strong class="px-1 sitename">Mykyta Badrak</strong> <span>in 2025</span>
            </p>
            <div class="credits">All rights reserved</div>
        </div>
    </footer>
{% endblock %}
